$code-box-bkg: #002451;
$body-bkg: #1a1b26;
$body-text-default: #c1c3df;
* {
  box-sizing: border-box;
}
body {
  color: $body-text-default;
  background-color: $body-bkg;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 75%;
  min-width: 600px;
  margin: auto;
}
iframe {
  width: 100%;
  height: 100%;
}

#query-results-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  //width: 75%;
  min-width: 600px;
  max-height: 50%;
  min-height: 400px;
  margin: auto;
}

#result-text {
  background-color: $code-box-bkg;
}
.result-pane {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 400px;
  max-height: 50%;
  border: 1pt solid rgb(65, 65, 65);
}

.code-block {
  max-width: 100%;
  width: 100%;
  height: inherit;
}

textarea {
  resize: none;
  width: 100%;
}