iframe {
  width: 100%;
  height: 100%;
}

#query-results-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  position: absolute;
  width: 100%;
}
.result-pane {
  min-height: 400px;
  border: 1pt solid rgb(65, 65, 65);
}

.code-block {
  max-width: 100%;
  width: 100%;
}
